body {
  margin: 0;
  font-family: -apple-system, optima, 'sans-serif', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: optima, source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.social-media-icon {
  font-size: 1.2rem;
  text-decoration: none;
  margin: 0 5px;
}

.header-footer-bg {
  background-color: rgba(0,0,0,0.07);
}

.input-group-text {
  background-color: transparent;
  border: 0px;
}
